* {
  margin: 0;
}

@font-face {
  font-family: magazine;
  src: url(../webfonts/Colours\ Personal\ Use.ttf);
}
.container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 100%;
  justify-content: space-between;
  /* height: 100vh; */
}

.left-div {
  background-color: yellow;
  width: 50%;
  padding: 10px;
  text-align: center;
}

.title-left {
  color: rgb(35, 184, 184);
  font-size: 6rem;
  font-family: magazine;
  margin-top: 40px;
  text-align: center;
  justify-content: center;
  align-items: center;
}
.text-left {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 1.6rem;
  margin: 40px 40px;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.right-div {
  width: 50%;
  text-align: center;
}
img {
  width: 100%;
  height: 100%;
}

@media (max-width: 600px) {
  .container {
    flex-direction: column;
  }

  .left-div {
    width: 100%;
    padding: 0px;
  }

  .right-div {
    width: 100%;
  }

  .title-left {
    font-size: 3rem;
  }
}
